*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/markdown-navigator
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/encodings.xml
/.idea/checkstyle-idea.xml
/.idea/dbnavigator.xml
/.idea/markdown-navigator.xml
/.idea/dictionaries
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild